.App-header {
  display: flex;
  align-items: center;
  padding: 1rem;
}

.App-header h1 {
  display: flex;
  font-weight: bold;
  color: #e1003c;
}

.App-header img {
  display: flex;
  width: 100px;
}
